/* Estilos para los niveles de tareas */
.nivel-0 .gantt_task_content {
  background-color: #4CAF50 !important; /* Verde */
  color: white;
}

.nivel-1 .gantt_task_content {
  background-color: #2196F3 !important; /* Azul */
  color: white;
}

.nivel-2 .gantt_task_content {
  background-color: #FF9800 !important; /* Naranja */
  color: white;
}

.nivel-otros .gantt_task_content {
  background-color: #9C27B0 !important; /* Morado */
  color: white;
}

/* Estilo para resaltar los fines de semana */
.weekend {
  background-color: #f0f0f0 !important; /* Color de fondo para los fines de semana */
}